#videobox{
    display: none;
}



#theVideo{
      display: flex;
    flex-direction: column; 
    align-items: center;
}


iframe{
    margin-left: auto; 
    margin-right: auto;
    position:relative; 
}
